// VARIABLE DECLARATIONS
$new-primary: #990011FF;
$new-secondary: rgb(215, 202, 200);

@import "~bootstrap/scss/functions";

// DEFAULT VARIABLE OVERRIDING
$primary: $new-primary;
$secondary: $new-secondary;
$input-btn-focus-box-shadow: none !important;
$btn-box-shadow: none !important;
$btn-focus-box-shadow: none !important;
$btn-active-box-shadow: none !important;

@import "~bootstrap/scss/variables";

// VARIABLE OVERRIDING THAT REQUIRE BOOTSTRAP VARIABLES

// IMPORTING THE BOOTSTRAP STYLESHEET
@import "~bootstrap/scss/bootstrap.scss";

// MIXINS


// STYLINGS
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    // border: 1px solid red;
}

.form-control.invalid:focus {
    border-color: rgb(220, 53, 69);
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}